:root {
    /* Primary colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* Neutral colors */
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;

}

body {
    background: var(--Very-dark-blue-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.product-card {
    width: 100%;
    max-width: 350px;
    position: relative;
    background: var(--Very-dark-blue-card);
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
    padding: 24px;
}

.product-img .equilibrium {
    width: 302px;
    border-radius: 8px;
    background-size: cover;
    display: block;
}

.product-img {
    position: relative;
}

.product-img:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: var(--Cyan);
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .5s;
    z-index: 2;
}

.product-name {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 24px 0 16px 0;
    color: var(--White)
}

/* Adding hover, active effects on text elements */
.product-name:hover,
.product-name:active,
.whitecolor:hover,
.whitecolor:active {
    color: var(--Cyan);
    cursor: pointer;
}

.product-details {
    height: 52px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: var(--Soft-blue);
    padding-bottom: 24px;
}

.product-price {
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #2E405A;
}

.icon-ethereum {
    width: 11px;
    height: 18px;
    margin-right: 7px;
}

.price {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--Cyan);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-clock {
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.sale-date {
    width: 100px;
    height: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--Soft-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 105px;
}

.product-author {
    margin: 16px 0 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid var(--White);
    border-radius: 50px;
    margin-right: 16px;
}

.author-name {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.greycolor {
    color: var(--Soft-blue);
}

.whitecolor {
    color: var(--White);
}

/* Attribution */

.attribution {
    padding-top: 20px;
    font-size: 11px;
    text-align: center;
    color: var(--Soft-blue);
}

.attribution a {
    color: var(--White);

}

/* Mobile view @375px*/

@media screen and (max-width: 375px) {
    .product-card {
        max-width: 327px;
    }

    .product-img .equilibrium,
    .overlay {
        max-width: 278px;
    }

    .product-details {
        font-size: 16px;
    }

    .price {
        font-size: 15px;
        line-height: 18.9px;
    }

    .sale-date {
        font-size: 15px;
        line-height: 18.9px;
        margin-left: 90px;
    }

    .author-name {
        font-size: 15px;
        line-height: 18.9px;
    }
}

;